# ======================
# React / Node.js
# ======================
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Python / Django
# ======================
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
db.sqlite3
media/
staticfiles/

# ======================
# IDE / OS
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Other
# ======================
*.bak
*.swp
*.swo
